.features__icon-container {
  height: 120px;
  background-color: $button-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__list {
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}
.features__item {
  text-align: center;

  // width: 270px;
  @media screen and (min-width: 768px) {
    & {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 270px;
    }
  }
}
.features__item + .features__item {
  // margin-left: 30px;
  @media screen and (max-width: 767px) {
    & {
      margin-top: 30px;
    }
  }
}
.features__heading {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}
.features__description {
  color: $secondary-color;
  line-height: 1.71;
  margin-top: 10px;
  text-align: start;
}

.features,
.pictures-section {
  background-color: $bg-main;
}
.pictures-section__item {
  width: 370px;
  position: relative;
  z-index: 0;
}
.pictures-section__item + .pictures-section__item {
  margin-left: 30px;
}
.pictures-section {
  display: flex;
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    & {
      display: none;
    }
  }
}

.pictures-section__overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
