.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: $animation-duration;
  transition-timing-function: $time-function;
  z-index: 1;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  width: 450px;
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
  transition-property: transform opacity;
  transition-duration: $animation-duration;
  transition-timing-function: $time-function;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.1) rotate(0deg);
    opacity: 0;
  }
  // @media screen and (min-width: 768px) {
  //   & {
  //     width: 450px;
  //   }
  // }
  @media screen and (max-width: 450px) {
    & {
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 528px;
      height: 581px;
    }
  }
}
.modal__text {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: $secondary-color;
}
.modal__formfield {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  outline: none;
  &:focus {
    border-color: $accent-color;
  }
}

.modal-icon {
  fill: $main-color;
  .modal input:focus & {
    fill: $accent-color;
  }
}

.input-thumb {
  position: relative;
}
.modal-icon-container {
  position: absolute;
  left: 12px;
  bottom: 7px;
}
.modal__textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  &:focus {
    border-color: $accent-color;
  }
}
.checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  @media screen and (max-width: 767px) {
    & {
      line-height: 14px;
    }
  }
  @media screen and (max-width: 1199px) {
    & {
      font-size: 12px;
    }
  }
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid $main-color;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
}
.checkbox:checked + .checkbox-icon {
  background-image: url("./../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.license-link {
  color: $accent-color;
  text-decoration: underline;
}
button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
}
.modal-button {
  margin: 30px auto 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: $animation-duration;
  transition-timing-function: $time-function;
}
.modal-button:hover {
  background-color: $button-active;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.modal__close-button .icon {
  fill: #000000;
}
.modal__close-button:hover .icon {
  fill: $accent-color;
}
