.team {
  background-color: $button-color;
  margin: 0 auto;
}
.team__list {
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}
.team__member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    & {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: 270px;
    }
  }
}
.team__member + .team__member {
  // margin-left: 30px;

  @media screen and (max-width: 767px) {
    & {
      margin-top: 30px;
    }
  }
}
.team__name {
  font-weight: 500;
  font-size: 16px;
}
.team__position {
  color: $secondary-color;
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 10px;
}
.team__description {
  padding: 30px 32px;
}

.team__social-links {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  margin: -10px;
}
.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  margin: 10px;
  border-radius: 50%;
  color: $social-links-color;
  transition-property: background-color, color;
  transition-duration: $animation-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}
