$main-color: #212121;
$secondary-color: #757575;
$accent-color: #2196f3;
$button-color: #f5f4fa;
$button-active: #188ce8;
$bg-main: #ffffff;
$bg-secondary: #2f303a;
$social-links-color: #afb1b8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$main-font: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
$logo-font: Raleway, "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
